@model AskStorage.Models.Categoria
@{ ViewData["Title"] = "Nueva Categoría";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
<br />
<h3 class="text-center">Crear una nueva categoría</h3>
<div class="container">
    <form method="post" asp-action="Create">
        <div class="row px-2 mx-2 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="NombreCategoria"></label>
                    </div>
                    <div class="col-7">
                        <input asp-for="NombreCategoria" class="form-control" />
                        <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-7 offset-3">
                        <partial name="_VistaCrearVolver" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Categoría-->
<p hidden id="msg">@ViewData["Mensaje"]</p>


@section Scripts{

    <script>
        var mensaje = $('#msg').text();
        if (mensaje != '') {
            swal({
                icon: 'error',
                title: 'Esta categoría ya existe!',
                text: mensaje
            })
        }
    </script>
}